## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Torbay,NE,47.6666,-52.7314,30.00,93,90,21.85,overcast clouds
1,1,Mataura,NE,-46.1927,168.8643,48.00,80,23,8.01,few clouds
2,2,Winslow,NE,35.0242,-110.6974,21.20,79,1,4.03,clear sky
3,3,Los Llanos De Aridane,NE,28.6585,-17.9182,68.00,68,40,13.80,scattered clouds
4,4,Culiacan,NE,24.7994,-107.3897,66.99,82,1,2.04,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

min_temp, max_temp

(70.0, 80.0)

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
8,8,Cairns,NE,-16.9167,145.7667,75.20,83,100,5.70,overcast clouds
10,10,Kiunga,NE,-6.1219,141.2906,73.36,97,100,1.90,overcast clouds
15,15,Tautira,NE,-17.7333,-149.1500,77.00,73,75,4.61,light rain
19,19,Bengkulu,NE,-3.8004,102.2655,76.66,88,100,6.06,light rain
20,20,Vanimo,NE,-2.6741,141.3028,79.29,83,100,8.03,moderate rain
...,...,...,...,...,...,...,...,...,...,...
704,704,Bahia Honda,NE,22.9036,-83.1592,71.91,62,11,12.48,few clouds
710,710,Mawlamyine,NE,16.4914,97.6256,76.59,76,55,3.13,broken clouds
714,714,Sembe,NE,1.6481,14.5806,79.52,82,98,2.64,light rain
717,717,Progreso,NE,21.2833,-89.6667,73.99,56,40,5.75,scattered clouds
719,719,Chalisgaon,NE,20.4667,75.0167,72.57,27,0,5.70,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
8,8,Cairns,NE,-16.9167,145.7667,75.20,83,100,5.70,overcast clouds
10,10,Kiunga,NE,-6.1219,141.2906,73.36,97,100,1.90,overcast clouds
15,15,Tautira,NE,-17.7333,-149.1500,77.00,73,75,4.61,light rain
19,19,Bengkulu,NE,-3.8004,102.2655,76.66,88,100,6.06,light rain
20,20,Vanimo,NE,-2.6741,141.3028,79.29,83,100,8.03,moderate rain
...,...,...,...,...,...,...,...,...,...,...
704,704,Bahia Honda,NE,22.9036,-83.1592,71.91,62,11,12.48,few clouds
710,710,Mawlamyine,NE,16.4914,97.6256,76.59,76,55,3.13,broken clouds
714,714,Sembe,NE,1.6481,14.5806,79.52,82,98,2.64,light rain
717,717,Progreso,NE,21.2833,-89.6667,73.99,56,40,5.75,scattered clouds
719,719,Chalisgaon,NE,20.4667,75.0167,72.57,27,0,5.70,clear sky

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Cairns,NE,75.20,overcast clouds,-16.9167,145.7667,
10,Kiunga,NE,73.36,overcast clouds,-6.1219,141.2906,
15,Tautira,NE,77.00,light rain,-17.7333,-149.1500,
19,Bengkulu,NE,76.66,light rain,-3.8004,102.2655,
20,Vanimo,NE,79.29,moderate rain,-2.6741,141.3028,
21,Vaini,NE,73.40,light rain,-21.2000,-175.2000,
22,Padang,NE,78.10,overcast clouds,-0.9492,100.3543,
23,Vao,NE,76.12,scattered clouds,-22.6667,167.4833,
28,Najran,NE,77.00,clear sky,17.4924,44.1277,
29,Rikitea,NE,78.75,light rain,-23.1203,-134.9692,

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
# 7. Drop the rows where there is no Hotel Name.
clean = hotel_df.replace(r'^\s*$', np.nan, regex=True)
clean_hotel_df = clean.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Cairns,NE,75.20,overcast clouds,-16.9167,145.7667,Mantra Trilogy Cairns
10,Kiunga,NE,73.36,overcast clouds,-6.1219,141.2906,Airport Lodge Kiunga
15,Tautira,NE,77.00,light rain,-17.7333,-149.1500,Pension Oaoa
19,Bengkulu,NE,76.66,light rain,-3.8004,102.2655,Grage Hotel Bengkulu
20,Vanimo,NE,79.29,moderate rain,-2.6741,141.3028,Vahmoneh Lodge Vanimo
...,...,...,...,...,...,...,...
699,Mazamari,NE,73.17,overcast clouds,-11.3258,-74.5308,Hospedaje Ratto
704,Bahia Honda,NE,71.91,few clouds,22.9036,-83.1592,Casa Gualberto - Deysi
710,Mawlamyine,NE,76.59,broken clouds,16.4914,97.6256,Sandalwood Hotel
717,Progreso,NE,73.99,scattered clouds,21.2833,-89.6667,Playa Linda Hotel
719,Chalisgaon,NE,72.57,clear sky,20.4667,75.0167,Shree Datta

In [21]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [25]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [26]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))