## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

ModuleNotFoundError: No module named 'config'

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Torbay,NE,47.6666,-52.7314,30.00,93,90,21.85,overcast clouds
1,1,Mataura,NE,-46.1927,168.8643,48.00,80,23,8.01,few clouds
2,2,Winslow,NE,35.0242,-110.6974,21.20,79,1,4.03,clear sky
3,3,Los Llanos De Aridane,NE,28.6585,-17.9182,68.00,68,40,13.80,scattered clouds
4,4,Culiacan,NE,24.7994,-107.3897,66.99,82,1,2.04,clear sky

In [13]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your desired minimum temperature for your vacation? "))
max_temp = float(input("What is your desired maximum temperature for your vacation? "))

min_temp, max_temp

(60.0, 80.0)

In [14]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Los Llanos De Aridane,NE,28.6585,-17.9182,68.00,68,40,13.80,scattered clouds
4,4,Culiacan,NE,24.7994,-107.3897,66.99,82,1,2.04,clear sky
8,8,Cairns,NE,-16.9167,145.7667,75.20,83,100,5.70,overcast clouds
10,10,Kiunga,NE,-6.1219,141.2906,73.36,97,100,1.90,overcast clouds
11,11,Hilo,NE,19.7297,-155.0900,66.20,94,90,8.05,light rain
...,...,...,...,...,...,...,...,...,...,...
704,704,Bahia Honda,NE,22.9036,-83.1592,71.91,62,11,12.48,few clouds
710,710,Mawlamyine,NE,16.4914,97.6256,76.59,76,55,3.13,broken clouds
714,714,Sembe,NE,1.6481,14.5806,79.52,82,98,2.64,light rain
717,717,Progreso,NE,21.2833,-89.6667,73.99,56,40,5.75,scattered clouds
719,719,Chalisgaon,NE,20.4667,75.0167,72.57,27,0,5.70,clear sky

In [9]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [10]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Los Llanos De Aridane,NE,28.6585,-17.9182,68.00,68,40,13.80,scattered clouds
4,4,Culiacan,NE,24.7994,-107.3897,66.99,82,1,2.04,clear sky
8,8,Cairns,NE,-16.9167,145.7667,75.20,83,100,5.70,overcast clouds
10,10,Kiunga,NE,-6.1219,141.2906,73.36,97,100,1.90,overcast clouds
11,11,Hilo,NE,19.7297,-155.0900,66.20,94,90,8.05,light rain
...,...,...,...,...,...,...,...,...,...,...
704,704,Bahia Honda,NE,22.9036,-83.1592,71.91,62,11,12.48,few clouds
710,710,Mawlamyine,NE,16.4914,97.6256,76.59,76,55,3.13,broken clouds
714,714,Sembe,NE,1.6481,14.5806,79.52,82,98,2.64,light rain
717,717,Progreso,NE,21.2833,-89.6667,73.99,56,40,5.75,scattered clouds
719,719,Chalisgaon,NE,20.4667,75.0167,72.57,27,0,5.70,clear sky

In [11]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Los Llanos De Aridane,NE,68.00,scattered clouds,28.6585,-17.9182,
4,Culiacan,NE,66.99,clear sky,24.7994,-107.3897,
8,Cairns,NE,75.20,overcast clouds,-16.9167,145.7667,
10,Kiunga,NE,73.36,overcast clouds,-6.1219,141.2906,
11,Hilo,NE,66.20,light rain,19.7297,-155.0900,
12,Ponta Do Sol,NE,64.00,scattered clouds,32.6667,-17.1000,
13,Cabo San Lucas,NE,68.00,clear sky,22.8909,-109.9124,
15,Tautira,NE,77.00,light rain,-17.7333,-149.1500,
17,Dickinson,NE,68.00,overcast clouds,29.4608,-95.0513,
19,Bengkulu,NE,76.66,light rain,-3.8004,102.2655,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

    # 6c. Get latitude and longitude from DataFrame

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    

    # 6e. Make request and retrieve the JSON data from the search. 
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.

In [9]:
# 7. Drop the rows where there is no Hotel Name.

In [10]:
# 8a. Create the output File (CSV)

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure